@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0f172a; /* gray-900 */
}

.container {
  max-width: 72rem; /* 6xl */
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .container {
    max-width: 80rem; /* 7xl */
  }
}

/* Hide scrollbar while keeping scrolling functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}